body{
  background-image: url("../img/background.jpg");
}

#pizzaParlor{
  display: none;
}

#firstHeader {
  margin-top: 25%;
}

#projectTag {
  text-align: center;
  margin-top: 8%;
}

form{
  background-color: lightsalmon;
}

h1 {
  text-align: center;
  margin-bottom: 0%;
}
#deliveryBtn, #takeoutBtn {
  margin-left: 40%;

}
img#pizza{
  height: 287px;
  width: 280px;
}


#pizza {
  float: right;
}